body {
  background-color:DeepPink;
  
}

div#nav-top {
  background-color:black;
  
}

div#nav-top > a {
 color:white;
  text-transform:uppercase;
  
}

div#nav-top > a:hover {
  background-image: linear-gradient(to right, red, orange);
}
